::-webkit-scrollbar {
        display: none;
    }


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

.bienvenido {
    margin: 2% 5%;
    width: 50%;
    float: left;
}

.adios {
    margin: 4% 5% 4% 5%;
    width: 30%;
    float: left;
    text-align: right;
}

.logout {
    border: none;
    background-color: white;
    font-size: 1.5vw;
    cursor: pointer;

}

.logout:hover {
    color:  #4d4d4d;
}
